<form action="/" method="post">

    <div class="user__login">
        <label for="email">
            <input type="email" name="email" id="email" value="john@doe.com">
        </label>
    </div>

    <div class="user__login">
        <label for="password">
            <input type="password" name="email" id="password" value="123">
        </label>
    </div>

    <div class="user__login">
        <label for="rememberMe">
            <input type="checkbox" name="rememberMe" id="rememberMe">
        </label>
    </div>

    <button type="submit">Send</button>

</form>
